<section class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 logo">
        <img alt="{{ site.title }}" src="../img/logo.png">
      </div>
      <div class="col-sm-8">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="home-nav" href="/">Home</a></li>
          <li><a class="about-nav" class="" href="/about">About Us</a></li>
          <li><a class="services-nav" href="/services">Services</a></li>
          <li><a class="projects-nav" href="/projects">Projects</a></li>
          <li><a class="contact-nav" href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
