<section class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 logo">
        <img alt="{{ site.title }}" src="http://fpoimg.com/285x37?bg_color=e6e5e5">
      </div>
      <div class="col-sm-8">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/about">Services</a></li>
          <li><a href="/about">Projects</a></li>
          <li><a href="/about">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
