<section class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 logo">
        <img alt="{{ site.title }}" src="http://eagleielectric.com/_site/img/eagle-i-logo.png"><span class="logo-text">Eagle Industrial Electric</span>
      </div>
      <div class="main-nav-hamburger">
        <img id="nav-toggle" src="http://eagleielectric.com/_site/img/hamburger.png">
      </div>
      <div class="col-sm-8 main-nav">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="home-nav" href="{{ site.baseurl }}/index.html">Home</a></li>
          <li><a class="about-nav" class="" href="{{ site.baseurl }}/about/index.html">About Us</a></li>
          <li><a class="services-nav" href="{{ site.baseurl }}/services/index.html">Services</a></li>
          <li><a class="projects-nav" href="{{ site.baseurl }}/projects/index.html">Projects</a></li>
          <li><a class="contact-nav" href="{{ site.baseurl }}/contact/index.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
