.about, .services, .projects, .contact {
  background:#ffffff;

  .leadership__position {
    text-align: center;

    h4 {
      color: $red;
    }

  }

  .clients, .leadership__position {
    padding-bottom: 20px;
  }

  @media only screen and (max-width : 990px) {
    .clients {
      text-align: center;
      padding-bottom: 0;

      img {
        padding-bottom: 20px;
      }
    }

  }

}

.secondary__billboard {
  background: url("../img/about-billboard.jpg") repeat center;
  padding: 10px 30px;
  margin-bottom: 10px;

  @media only screen and (min-width : 900px) {
      height:270px;

      &--headline {
        margin-top:105px;
      }
  }

  h1 {
    text-align: center;
    padding: 0 35px;
    font-size: 24px;
  }

  @media only screen and (max-width : 600px) {
      h1 {
          padding: 0;
      }
  }

  &--headline {
    background: url("../img/trans05.png") repeat center;
  }

}
