.about, .services, .projects, .contact {
  background:#ffffff;
}

.about {
  .leadership__position {
    border: 1px solid #EBEBEB;
    text-align: center;
    margin: 20px 14px 0 14px;
    padding-top: 35px;
    height: 250px;

    h4 {
      color: $red;
    }

  }

  .clients, .leadership__position {
    padding-bottom: 20px;
  }

  .clients img {
    padding: 20px 0;
  }

  @media only screen and (max-width : 990px) {
    .clients {
      text-align: center;
      padding-bottom: 0;

      img {
        padding-bottom: 20px;
      }
    }

  }

}

.about .secondary__billboard {
  background: url("../img/about-billboard.jpg");
  background-position: center;
  background-size: cover;
}

.secondary__billboard {
  padding: 10px 30px;
  margin-bottom: 30px;

  @media only screen and (min-width : 900px) {
      height:270px;

      &--headline {
        margin-top:135px;
      }
  }

  h1 {
    text-align: center;
    padding: 0;
    font-size: 24px;
  }

  @media only screen and (max-width : 600px) {
      h1 {
          padding: 0;
      }
  }

  &--headline {
    background: url("../img/trans05.png") repeat center;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}
