footer {
  border-top: 5px solid $red;
  padding-top: 30px;
  background: $background;

  .container {
    padding-right: 0;
    padding-left: 0;
  }

  h4 {
    color: $red;
  }

  .footer-links__divider {
    width: 100%;
    height: 3px;
    margin: 0 0 15px 0;
    background: $red;
  }

  .copyright {
    padding: 50px;
    text-align: center;
  }

  .site-map a {
    color: $grey;
  }

}
