body {
  background: $background;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

h1 {
  color:#ffffff;
  line-height: 52px;
}

ul {
  list-style-type: none;
}

.center {
  margin: 0 auo;
  text-align: center;
}
