.header-nav {
  border-top:5px solid $red;
  background: #4A5464;

  .nav {
    padding-top: 3px;

    a {
      color:#ffffff;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .logo {
    padding: 10px 0;
  }

}

@media only screen and (min-width : 900px) {

  .header-nav {
    background: url('../img/trans05.png') repeat;
    position: absolute;
    width: 100%;
  }

}
