
.secondary__billboard {
  background: url("../img/projects-billboard.jpg");
  background-position: center;
  background-size: cover;
}

.project-details {

  p {
    color: $grey;
  }

  ul {
    padding: 0;
  }

  li {
    padding: 0 0 10px 0;
  }

}

hr {
  margin-top: 0;
}

#loading-icon {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
